body {
    font-family: 'Open Sans', sans-serif;
}
.nav {
    position: fixed;
    padding: 0% 2% 1% 2%;
    width: 100%;
    color: white;
}

/* Used to split the page into even sections */
/* Using floats, not flex boxes (for ease of implementation) */
.half {
    width: 49%;
    float: left;
}
.third {
    width: 32%;
    float: left;
}

/* Site assets */
.button {
    padding: 10px;
    border: 1px solid white;
}
